@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background: linear-gradient(to bottom right, #070B26, #0F153A, #111642) !important;
	color: white !important;
}
